/*==============================================================
Styles Shonna Godoy at Keystone Resources
===============================================================*/
//background: url('/assets/img/elements/footer_payonline_26x30.png') right center no-repeat transparent;
//.at2x('/assets/img/elements/footer_payonline_26x30', 'png', 26px, 30px);

//Universal ------------------

body{
  overflow-x: hidden;
  font-family: @font-family-serif;
} 

span.sp{
	display:none;
}

span.en.override{
	display: block !important;
}

.sp #link_8,
.sp #link_9{
	display: none !important;
}

input::-moz-focus-inner,
input:focus {
  border: 0 !important;
}

.bg-beige{
	background-color: @mbsBeige;
}

.bg-blue{
	background-color: @mbsBlue;
}

.bg-darkblue{
	background-color: @mbsDarkBlue;
} 

.col-md-8{
	padding-bottom:15px;
}

iframe{
	width: 100%;
	border: 0;
	margin-bottom: 30px;
	height: 500px;	
	margin-top:5px;
}

h1{
	color: @mbsRed;
	font-size: 32px;
	font-weight: bold;
	font-family: @font-family-sans-serif;
	letter-spacing: 1px;
	line-height: 38px;
	margin-bottom: 23px;
	//margin-top: 38px;
	margin-top: 30px;
	@media(max-width: 722px){
		font-size: 26px;
		line-height: 32px;
		margin-bottom: 21px;
		letter-spacing: .3px;
	}
}

h2{
	color: @mbsRed;
	font-size: 28px;
	font-weight: bold;
	font-family: @font-family-sans-serif;
	letter-spacing: .3px;
	line-height: 38px;
	margin-bottom: 23px;
	margin-top: 22px;
}

h4{
	color: @mbsRed; 
	font-size: 18px;
	font-family: @font-family-sans-serif;
	margin-bottom: 25px;
}

p,
.col-md-8 ul li,
.col-md-8 ol li,
.col-xs-12 ul li,
.col-xs-12 ol li{
	color: @mbsRed;
	font-size: 15px;
	letter-spacing: .2px; 
	line-height: 24px;
	margin-bottom: 18px;
	a{
		color: @mbsBlue;
		&:hover,
		&:active,
		&:focus{
			color: @mbsDarkBlue;
			text-decoration: none;
		}
	}
}


form{
	input[type="text"]{
		height: 40px;
	}
	&.search{
		input[type="text"]{
			float:left;
			width: 205px;
			background-color: white;
			border: 0;
			color: @mbsDarkBlue;
			font-family: @font-family-sans-serif;
			font-weight: 900;
			font-size: 16px;
			padding: 7px 7px 6px 9px;
			@media(max-width: 800px){
				height: 32px;
			}
		}
		input[type="submit"]{
			background: url('/assets/img/elements/search_icon_20x17.png') center center no-repeat;
			.at2x('/assets/img/elements/search_icon_20x17', 'png', 20px, 17px);
			background-color: @mbsDarkBlue;
			width: 50px;
			height: 40px;
			margin: 0 0 0 -3px;
			border: 0;
			@media(max-width: 800px){
				margin-top: -33px;
				height: 34px;
			}
			&:hover{
				background-color: @mbsTransDarkBlue;
			}
		}
	}//search
}

.button{
	border: 2px solid @mbsRed;
	color: @mbsRed;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 14px;
	font-family: @font-family-sans-serif;
	padding: 8px 22px;
	&:hover,
	&:active,
	&:focus{
		color: white;
		background-color: @mbsRed;
		text-decoration: none; 
	}
}

.paging{
	ul{
		padding: 0;
		margin: 30px 0 -30px 0;
		li{
			list-style-type: none;
			display: inline-block;
			border: 2px solid @mbsRed;
			width: 40px;
			text-align: center; 
			@media(max-width: 590px){
				width: 30px;
			}
			&.control{
				margin-left: 3px;
			}
			a{
				display:block;
				color: @mbsRed;
				font-family: @font-family-sans-serif;
				padding:5px 0px;
				width: 100%;
				@media(max-width: 590px){
					font-size: 11px;
					padding: 0;
				}
				&:hover,
				&:active,
				&:focus,
				&.active{
					color: white;
					background-color: @mbsRed;
				}
			}
		}
	}
}

header{
	background-color: @mbsBlue;
	height: 185px;
	@media(max-width: 722px){
		background-color: @mbsBeige;
		height: 140px;
	}
	.container-fluid{
		position:relative;
	}
	.container{
		position:relative;
		z-index:100;
		//margin-bottom: -20px;
	}
	.bg-beige{
		position:absolute;
		bottom:0;
		width: 100%;
		height: 100%;
		z-index: 50;
		right: 50%;
		background-color: @mbsBeige;
	}
	.col-md-8{
		height: 185px; 
		background-color: @mbsBeige;
		max-width: 785px;
		@media(max-width: 1169px) and (min-width: 990px){
			max-width: 632px;
		}
	}
	.logo{
		background: url('/assets/img/elements/footer_logo.svg') left center no-repeat transparent;
		width: 100%;
		max-width: 280px;
		display:block;
		height: 185px;
		margin-left: -10px;
		@media(max-width: 722px){
			height: 110px;
			background-color: @mbsBeige;
			float: left;
			margin-top: 15px;
		}
	}
	.toggle-language{
		background-color: @mbsDarkBlue;
		color: white;
		position: absolute;
		right: 15px;
		top: -140px;
		font-family: @font-family-sans-serif;
		font-size: 14px;
		padding: 8px 12px;
		font-weight: bold;
		z-index: 600;
		&:hover,
		&:active,
		&:focus{
			background: url('/assets/img/elements/header_nav_bg.png');
			text-decoration: none; 
		}
		@media(max-width: 989px){
			right: 0;
		}
	}
	.navigation{
		position:absolute;
		left: 33.33%;
		//height:180px;
		z-index:500;
		width: 100%;
		max-width: 800px;
		margin: 0;
		//margin-top: -180px;
		/*
@media(max-width: 950px){
			margin-top: -170px;
		}
		@media(max-width: 840px){
			margin-top: -166px;
		}
		@media(max-width: 800px){
			margin-top: -158px;
		}
*/
	} 
	ul{
		//position:relative;
		z-index: 400;
		padding:0;
		margin:0;
		position:absolute;
		bottom:0;
		//margin: 100px 0 0 0;
		width: 100%;
		float: left; 
	
		li{
			padding: 0;
			list-style-type: none;
			float: left;
			text-align: right;
			margin-right: 1px;
			position:relative;
			width: 100px;
			height: 100px;
			cursor: pointer;
			background: url('/assets/img/elements/header_nav_bg.png');
			&:hover,
			&.active{
				background: url('/assets/img/elements/header_nav_bg_active.png'); 
			}
			&.first{
				display:none; 
			}
			&.last{
				margin-right: 0;
			}
			@media(max-width: 950px){
				width: 90px;
				height: 90px;	
			}
			@media(max-width: 840px){
				width: 86px;
				height: 86px;	
			}
			@media(max-width: 800px){
				width: 78px;
				height: 78px;	
			}
			a{
				display: block;
				width: 100%;
				height: 100%;
				position: relative;
				z-index: 20;
				cursor: pointer;
			}
			span{
				color: white;
				position: absolute;
				z-index: 10;
				font-family: @font-family-sans-serif; 
				font-size: 15px;
				font-weight: bold;
				bottom: 13px;
				right: 10px;
				cursor: pointer; 
				-webkit-font-smoothing: antialiased;
				@media(max-width: 950px){
					bottom: 15px;
					font-size: 13px;
				}
				@media(max-width: 800px){
					font-size: 12px;
					bottom: 11px;
					right: 7px;
				}
			}//span
			a[title="What We Do"] ~ span{
				max-width: 55px;
				@media(max-width: 800px){
					max-width: 45px;
				}
			}
			a[title="Find a Home"] ~ span{
				max-width: 55px;
				@media(max-width: 800px){
					max-width: 45px;
				}
			}
			/*
a,
			a:visited{
				color: white;
				font-family: @font-family-sans-serif; 
				font-size: 15px;
				font-weight: bold;
				display:block;
				position: relative;
				bottom: 13px;
				right: 10px;
				-webkit-font-smoothing: antialiased;
				padding-left: 20px;
				width: 100%;
				height: 100%;
				&:hover,
				&:active{
					color: white;
					text-decoration:none;
				}
				&:focus{
					color: white;
					text-decoration:none;
				}
				@media(max-width: 950px){
					bottom: 15px;
					font-size: 13px;
				}
				@media(max-width: 800px){
					font-size: 12px;
					bottom: 11px;
					right: 7px;
				}
				&[title="What We Do"]{
					max-width: 80px;
					@media(max-width: 950px){
						max-width: 70px;
					}
				}
				span{
					position: absolute;
					right: 0;
					bottom: 0;
				}
			}//a	
*/
		}//li
	}//ul
	.snap-trigger-right{
		position: absolute;
		right: 0;
		margin-top: 50px;
		margin-right: 15px;
		background: url('/assets/img/elements/header_mobile_nav.svg') center center no-repeat; 
		width: 44px;
		height: 44px;
		display:block;
		z-index: 400;
		cursor:pointer;
		/*
svg,
		object{
			cursor: pointer;
			width: 44px;
			height: 44px;
			&:hover path{
				fill: @mbsDarkBlue;
			}
		}
		svg{
			display: none; 
		}
		object{
			display: block !important;
		}
*/
	}
}

body.page-1048 header ul li.last{
	background: url('/assets/img/elements/header_nav_bg_active.png'); 
}

.home-section,
.contact-section,
.block-section{
	&.bg-blue{
		h1,p{
			color: white !important;
		}
		.button{
			color: white;
			border-color: white;
			&:hover,
			&:active{
				color: @mbsBlue;
				background-color: white;
			}
		}
	} 
	.row-xs-height,
	.row-same-height{
		@media(max-width: 722px){
			display:block;
		}
	}
	.col-md-6{
		float: none;
		width: 50%;
		overflow:hidden;
		@media(max-width: 722px){
			float: left;
			width: 100%;
		}
		&:first-child{
			@media(max-width: 722px){
				padding: 0;
				max-height: 225px;
				p{
					padding: 0 15px;
				}
				h2,
				h1{
					padding-left: 15px; 
				}
			}
		}
	}
	.button{
		float: right;
		margin-bottom: 40px;
		margin-right: 30px;
		margin-top: 20px;
		@media(max-width: 722px){
			margin-right: 0;
			margin-top: 10px;
			margin-bottom:33px;
		}
	}
	img{
		min-width: 470px;
		min-height: 470px;
		height: 100%;
		width: auto;
		position:absolute;
		left: 0;
		@media(min-width: 1170px){
			width: 585px;
			height: 585px;
		}
		@media(max-width: 722px){
			width: 100%;
			height: auto;
			position:relative;
		}
	}
	p{
		@media(min-width: 930px){
			padding-right: 30px;
		}
	}
	&.alt-0{
		opacity: 0; 
	}
	&.alt-1{
		background-color: @mbsDarkBlue;
		h1,h2,p{
			color: white;
			-webkit-font-smoothing: antialiased;
			@media(min-width: 930px){
				padding-right: 0;
				padding-left: 30px;
			}
		}
		img{
			right: 0; 
			left: auto;
		}
		.button{
			color: white;
			border-color: white;
			&:hover,
			&:active{
				background-color: white;
				color: @mbsDarkBlue;
			}
		}
	}
}

.page-1 .block-3 img{
	margin-top: -35%;
}



.type-9 .block-1{
	ul{
		padding: 0;
		float: left;
		margin-bottom: 15px;
		width: 100%;
		li{
			list-style-type: none;
			width: 50%;
			float: left;
			padding-right:20px;
			text-align: center;
			&:nth-child(even){
				padding-right: 0;
			}
			.button{
				width: 100%;
				float: none;
				display: inline-block;
				margin: 0 0 20px 0;
				padding: 8px 0;
				@media(max-width: 900px){
					font-size: 11px;
				}
			}
		}
	}
}

.type-9 .block-3 .col-md-6{
	max-height: none;
	@media(min-width: 723px){
		padding-bottom: 90px;
		.button{
			position: absolute;
			bottom: 0;
			right: 15px;
		}	
	}
}

#banner{
	height: 207px;
	img{
		width:1170px;
		position: absolute;
		@media(max-width: 1169px){
			right: 15px;
		}
		@media(max-width: 990px){
			right: 0;
		}
	}
}

#sidebar.categories{
	@media(max-width: 722px){
	float: left;
	width: 100%;
		li.title{
			.arrow{
				float: right;
				margin-top: 5px;
			}
			.arrow{ 
				content:"";
				width: 0; 
				height: 0; 
				border-left: 7px solid transparent;
				border-right: 7px solid transparent;
				border-bottom: 7px solid white;
			}
			&.active .arrow{
				border-bottom: 0;
				border-top: 7px solid white;
			}
		}
	}
}

#sidebar{
	p.note{
		margin-top: 10px;
		float: left;
		margin-bottom: -5px;
	}
}

#project-profiles,
#news-landing,
#news-detail,
#profile-detail{
	@media(max-width: 722px){
		float: left;
	}
}



#sidebar.categories{
	padding-bottom: 100px;
	@media(max-width: 722px){
		ul{
			//display: none;
		}
		padding-bottom: 0;
	}
	h1{
		background-color: @mbsDarkBlue;
		color: white;
		font-size: 26px;
		font-weight: bold;
		text-align: center;
		//padding: 10px 0;
		margin: -58px 0 0 0;
		border-bottom: 1px solid white;
		@media(max-width: 915px){
			font-size: 20px;
		}
		@media(max-width: 780px){
			font-size: 18px;
		}
		@media(max-width: 722px){
			background-color: transparent;
			margin: -52px 0 0 0;
		}
		a{
			color: white;
			padding: 10px 0;
			display: block;
			&:hover,
			&:active,
			&:focus{
				color: white;
				text-decoration: none;
			}
			@media(max-width: 722px){
				padding: 10px 20%;
				background-color: @mbsDarkBlue;
				display: inline-block;
			}
		}
	}
	ul{
		margin: 0;
		padding: 0;
		li{
			margin: 0;
			padding: 0;
			width: 50%;
			height: 160px;
			background-color: @mbsBlue;
			display:block;
			border-bottom:1px solid white;
			float: left;
			position: relative;
			@media(max-width: 1169px){
				height: 130px;
			}
			&:nth-child(even){
				border-left: 1px solid white;
			}
			&:hover,
			&.active{
				background-color: @mbsDarkBlue;
			}
			a,
			a:visited{
				display:block;
				font-size: 16px;
				color: white;
				text-align: right;
				position: absolute;
				right: 15px;
				line-height: 16px;
				bottom: 25px; 
				padding-left: 15px;
				font-family: @font-family-sans-serif;
				@media(max-width: 1169px){
					font-size: 15px;
					bottom: 15px;
				}
				&:hover,
				&:active{
					color: white;
					text-decoration:none;
				}
				&:focus{
					color: white;
					text-decoration: none;
				}
			}
		}
		ul,
		&.project-toolbar,
		&.news-toolbar{
			width: 100%;
			li{
				width: 100%;
				height: auto;
				padding: 5% 0;
				position:relative;
				border-left: 0 !important;
				padding: 0;
				a{
					height: auto;
					text-align:left;
					display: block; 
					position: relative;
					padding: 10px 15px;
					bottom:0;
					font-size: 15px;
					left: 0;
					@media(max-width: 1169px){
						font-size: 14px;
					}
				}//a 
				&.title{
					font-weight: bold;
					color: white;
					font-family: @font-family-sans-serif;
					padding: 10px 15px;
				}
				&:first-child{
					padding-left: 15px;
					padding-bottom: 15px;
					padding-top: 15px;
					form.search{
						width: 100%;
						
						fieldset,
						input[type="text"]{
							width: 100%;
						}
						input[type="text"]{
							padding-right: 50px; 
						}
						input[type="submit"]{
							float: right;
							margin-top: -40px;
							@media(max-width: 800px){
								margin-top: -33px;
								height: 34px;
							}
						}
					}
					span{
						display: block;
						color: white;
						font-family: @font-family-sans-serif;
						padding: 0 0 14px 0; 
					}
					&:hover{
						background-color: @mbsBlue;
					}
				}
			}//li
			form{
				float: left;
				padding-right: 15px;
			}
		}//ul, project-toolbar
	}
}

.news-toolbar{
	li{
		max-height:38px;
		overflow:hidden;
		&:first-child{
			max-height: none;
		}
	}
}

#sidebar.navigation{
	padding-bottom: 100px;
	@media(max-width: 722px){
		ul{
			display: none;
		}
		padding-bottom: 0;
	}
	h1{
		background-color: @mbsDarkBlue;
		color: white;
		font-size: 26px;
		font-weight: bold;
		text-align: center;
		//padding: 10px 0;
		margin: -58px 0 0 0;
		border-bottom: 1px solid white;
		@media(max-width: 915px){
			font-size: 20px;
		}
		@media(max-width: 780px){
			font-size: 18px;
		}
		@media(max-width: 722px){
			background-color: transparent;
			margin: -52px 0 0 0;
		}
		a{
			color: white;
			padding: 10px;
			display: block;
			&:hover,
			&:active,
			&:focus{
				color: white;
				text-decoration: none;
			}
			@media(max-width: 722px){
				padding: 10px 20%;
				background-color: @mbsDarkBlue;
				display: inline-block;
			}
		}
	}
	ul{
		margin: 0;
		padding: 0;
		li{
			margin: 0;
			padding: 0;
			width: 50%;
			height: 160px;
			background-color: @mbsBlue;
			display:block;
			border-bottom:1px solid white;
			float: left;
			position: relative;
			cursor: pointer;
			@media(max-width: 1169px){
				height: 130px;
			}
			&:nth-child(even){
				border-left: 1px solid white;
			}
			&:hover,
			&.active{
				background-color: @mbsDarkBlue;
			}
			a{
				width: 100%;
				height: 100%;
				display: block;
				position: relative;
				z-index: 20;
				cursor: pointer;
			}
			span{
				position: absolute;
				bottom: 25px;
				right: 15px;
				z-index: 10;
				color: white; 
				cursor: pointer;
				font-size: 15px;
				line-height: 18px;
				text-align: right;
				font-family: @font-family-sans-serif;
				padding-left: 15px;
				@media(max-width: 1169px){
					font-size: 14px;
					bottom: 10px;
				}
				@media(max-width: 890px){
					font-size: 12px;
					line-height: 18px; 
				}
				@media(max-width: 800px){
					font-size: 10px;
					line-height: 15px;
				}
			}
			/*
a,
			a:visited{
				display:block;
				font-size: 15px;
				color: white;
				text-align: right;
				position: absolute;
				right: 15px;
				line-height: 18px;
				bottom: 25px; 
				padding-left: 15px;
				font-family: @font-family-sans-serif;
				@media(max-width: 1169px){
					font-size: 14px;
					bottom: 10px;
				}
				&:hover,
				&:active{
					color: white;
					text-decoration:none;
				}
				&:focus{
					color: white;
					text-decoration: none;
				}
			}
*/
		}
		ul,
		&.project-toolbar,
		&.news-toolbar{
			width: 100%;
			li{
				width: 100%;
				height: auto;
				position:relative;
				border-left: 0 !important;
				padding: 0;
				&.title{
					font-weight: bold;
					color: white;
					font-family: @font-family-sans-serif;
				}
				&:first-child{
					form.search{
						width: 100%;
						fieldset,
						input[type="text"]{
							width: 100%;
						}
						input[type="text"]{
							padding-right: 50px; 
						}
						input[type="submit"]{
							float: right;
							margin-top: -40px;
							@media(max-width: 800px){
								margin-top: -33px;
								height: 34px;
							}
						}
					}
					/*
span{
						display: block;
						color: white;
						font-family: @font-family-sans-serif;
						padding: 0 0 14px 0; 
					}
*/
					&:hover{
						//background-color: @mbsBlue;
					}
				}
				span{
					position: relative;
					padding: 10px 15px;
					text-align: left;
					display:block;
					left: 0;
					bottom: 0;
				}
				a{
					height: 100%;
					width: 100%;
					position: absolute; 
					&.all{
						text-transform: uppercase;
						font-weight: bold;
					}
					@media(max-width: 1169px){
						
					}
				}//a
			}//li
			form{
				float: left;
				padding-right: 15px;
			}
		}//ul, project-toolbar
	}
}



#team-landing,
#what-we-do,
#project-profiles{
	padding: 0;
	@media(max-width: 722px){
		padding-left: 15px;
	}
	table{
		width: 100%;
		margin-top: 15px;
		opacity: 0;
	}
	td{
		overflow:hidden;
		background-color: @mbsDarkBlue;
		border-right: 15px solid white;
		//padding-bottom: 100px;
		width: 33.33% !important;
		vertical-align: top;
		position:relative;
		border-bottom: 15px solid white;
		padding: 0;
		//padding: 0 0 90px 0;
		display:inline-block;
		img{ 
			width: 100%;
			height: auto;
		}
		a{
			position: relative;
			float: left;
			padding-bottom: 90px;
			width: 100%; 
			&.button{
				padding-bottom: 8px;
			}
		}
		h2{
			color: white;
			font-family: @font-family-sans-serif;
			font-size: 14px;
			-webkit-font-smoothing: antialiased;
			text-align: right;
			position: absolute;
			bottom: 10px;
			right: 0;
			padding-right: 10px;
			padding-top: 5px;
			margin:0;
			line-height: 20px;
			font-weight: normal;
			padding-left: 5px;
			background-color: @mbsDarkBlue;
			strong{
				font-size: 16px;
				font-weight: bold;
			}
			@media(max-width: 1179px){
				font-size: 13px;
				bottom: 8px;
				line-height: 18px;
			}
			@media(max-width: 980px){
				font-size: 12px;
			}
			@media(max-width: 860px){
				font-size: 11px;
				line-height: 16px;
				bottom: 5px;
				strong{
					font-size: 15px;
				}
			}
		}
	}
}


#general{
	#sidebar{
		padding-bottom: 25px;
	}
}

#what-we-do{
	td{
		width: 50% !important;
		padding-bottom: 0; 
		.block{
			max-height: 300px;
		}
		img{
			height: 100%;
			//max-height: 300px;
		}
		h2{
			color: white;
			font-family: @font-family-sans-serif;
			-webkit-font-smoothing: antialiased;
			text-align: right;
			position: absolute;
			margin:0; 
			padding-bottom: 13px;
			padding-right: 15px;
			bottom:0;
			left:0;
			padding-top:25px;
			font-weight: bold;
			font-size: 16px;
			line-height: 22px;
			padding-left: 10px;
			@media(max-width: 860px){
				font-size: 15px;
				line-height: 20px;
			}
		}
		.overlay{
			position: absolute;
			width: 100%;
			height: 100%;
			display: none;
			padding: 30px;
			top: 0;
			background-color: @mbsTransDarkBlue;
			p{
				color: white;
				font-size: 24px;
				line-height: 30px;
				font-family: @font-family-sans-serif;
				font-weight: bold;
				-webkit-font-smoothing: antialiased;
				@media(max-width: 970px) and (min-width: 850px){
					font-size: 22px;
					line-height: 28px;
					//line-height: 18px;
				}
				@media(max-width: 849px) and (min-width: 724px){
					font-size: 18px;
					line-height: 24px;
				}
				@media(max-width: 723px) and (min-width: 620px){
					font-size: 24px;
					line-height: 30px;
				}
				@media(max-width: 619px){
					font-size: 18px;
					line-height: 24px;
				}
			}
			a{
				cursor: pointer;
				width: auto;
			}
		}
		&:hover{
			h2{
				display: none;
			}
			.overlay{
				display:block;
			}
		} 
		.button{
			color: white;
			border-color: white;
			background-color: @mbsDarkBlue;
			float: right;
			margin-top: -3px;
			position: absolute;
			right: 30px;
			bottom: 30px;
			&:hover,
			&:active{
				background-color: white;
				color: @mbsDarkBlue;
			}
		
@media(max-width: 1169px){
				right: 15px;
				bottom: 15px;
			}/*
			@media(max-width: 970px) and (min-width: 591px){
				font-size: 11px;
				padding: 5px 10px;
				right: 10px;
				bottom: 10px;
			}
*/
		}//button
	}//td
}

#team-landing, #project-profiles{
	@media(max-width:590px){
		td{
			width: 50% !important;
		}
	}
	a.no-link{
		cursor: default;
	}
	.icon-eye{
		position: absolute;
		width: 80px;
		height: 150px;
		top: 0;
		right: 0;
		svg,
		object{
			width: 100%;
			margin-top:-40px;
		}
	}
}

#team-landing{
	.sisea-paging{
		display: none;
	}
}

#team-detail,
#profile-detail,
#news-detail{
	.button{
		display: inline-block;
		margin-top: 20px;
		float: right;
		text-align: center;
		@media(max-width: 722px){
			//margin-top: -50px;
		}
	}
	img{
		float: left;
		display:block;
		padding: 0 23px 10px 0;
		margin-top: 5px;
		max-height: 280px;
		width: auto;
		@media(max-width: 590px){
			max-height: 200px;
			padding: 0 20px 5px 0;
		}
	}
	.image-container{
		@media(max-width: 490px){
			width: 100%;
			height: 300px;
			margin-bottom: 25px; 
			overflow:hidden; 
			margin-left: -15px;
			.image-container-inner{
				position: absolute;
				width: 100%;
				height: 300px;
				overflow:hidden;
			}
			img{
				width: 100%;
				height: auto;
				padding:0;
				margin: 0 0 0 0;
			  max-height: none;
			}
		}
		@media(max-width: 300px){
			img{
				margin-top: 0;
			}
		}
	}
	h1{
		font-size: 28px;
		margin: 70px 0 0 0; 
	}
	h2{
		font-weight: normal;
		font-size: 24px;
		margin: 0;
		letter-spacing: .2px;
		margin-top: 1px;
		line-height: 30px;
		margin-bottom: 20px;
		@media(max-width: 722px){
			margin-bottom: 20px;
			font-size: 22px;
		}
		@media(max-width:490px){
			margin-bottom: 22px;
		}
	}
}

#project-profiles{
	.map{
		width: 100%;
		height: 300px;
		display: block;
		margin-top:15px;
		margin-bottom: 15px;
		padding-right:15px;
		font-family: @font-family-sans-serif;
		.amcharts-main-div{
			background-color: @mbsBlue;
		}
	}
	.sisea-paging{
		display: none;
	}
	.sisea-results{
		margin-bottom: 15px;
		@media(max-width: 589px){
			margin-top: 10px;
			margin-bottom: -5px;
		}
	}
}

#profile-detail{
	h2{
		margin-top: -3px;
		line-height: 30px;
	}
	#profile-gallery{
		display:block;
		width: 100%;
		margin-bottom: 30px;
		img{
			float: none;
			padding: 0;
			right: 0;
			width: 100%;
			height: auto;
			max-height:inherit;
		}
		.arrows{
			position:absolute;
			top: 46%;
			width: 100%;
			z-index:500;
			a{
				display:block;
				width:50px;
				height: 50px;
				&.prev{
					float: left;
					padding-left:15px;
					&:before{
						content:"";
						display: block;
						width: 0; 
						height: 0; 
						border-top: 20px solid transparent;
						border-bottom: 20px solid transparent; 
						border-right:20px solid white;
					}
					&:hover{
						&:before{
							border-right-color: @gray-lighter;
						}
					}
				}
				&.next{
					float: right;
					padding-right:15px;
					&:before{
						content:"";
						display: block;
						border-top: 20px solid transparent;
						border-bottom: 20px solid transparent; 
						border-left:20px solid white;
					}
					&:hover{
						&:before{
							border-left-color: @gray-lighter;
						}
					}
				}
			}//a
		}//arrows
	}
}

#news-landing{
	padding-bottom:50px;
	article{
		padding-bottom: 50px;
		.button{
			float: right;
		}
	}
	.sisea-paging{
		display:none;
	}
	.sisea-results{
		margin-bottom: -10px;
	}
}

.page-1027 #news-landing{
	padding-top: 30px;
	color: @mbsRed;
	font-size: 15px;
}

#news-detail{
	img{
		display: block;
		float: none;
		width: 100%;
	} 
}

#team-search.project-toolbar{
	li{
		padding: 0 0 15px 15px !important;
		&:hover{
			background-color: @mbsLightBlue;
		}
		span{
			padding-left: 0 !important;
		}
	}
}

#team-search ul.team-navigation{
	display: block !important;
}

 
footer{
	background-color: @mbsBlue;
	.container-fluid{
		position:relative;
	}
	.container{
		position:relative;
		z-index:100;
		margin-bottom: -20px;
	}
	.bg-beige{
		position:absolute;
		bottom:0;
		width: 100%;
		height: 100%;
		z-index: 50;
		right: 66.33%; 
		background-color: @mbsBeige;
		@media(max-width: 722px){
			display: none;
		}
	}
	.col-md-4:first-child{
		@media(max-width: 722px){
			background-color: @mbsBeige;
			padding-bottom: 25px; 
		}
	}
	.logo{
		background: url('/assets/img/elements/footer_logo.svg') center center no-repeat transparent;
		width: 100%;
		max-width: 150px;
		display:block;
		height: 125px;
		margin-left: -5px;
	}
	.contact{
		color: @mbsRed;
		//margin-left: 5px;
		font-size: 16px;
		-webkit-font-smoothing: antialiased;
		line-height: 25px;
		margin-top: -8px;
		a{
			color: @mbsRed;
			&:hover,
			&:active{
				color: @mbsDarkBlue;
				text-decoration:none;
			}
		}
	}//contact
	ul{ 
		padding: 0;
		margin: 20px 0 0 0;
		width: 50%;
		float: left;
		@media(max-width:920px) and(min-width:501px){
			&:first-child{
				width: 60%;
			}
			&:last-child{
				width: 40%;
			}
		}
		@media(max-width: 500px){
			width: 100%;
		}
		&:last-child{
			@media(max-width: 500px){
				margin-top: 0;
			}
		}
		li{
			width: 100% !important;
			padding: 0;
			margin: 0;
			list-style-type: none;
			a{
				font-size: 16px;
				font-weight: bold;
				color: white; 
				font-family: @font-family-sans-serif;
				padding: 10px 0 5px 0;
				display: block;
				@media(max-width:1179px){
					font-size: 14px;
				}
				@media(max-width: 840px)and(min-width: 723px){
					font-size: 13px;
				}
				@media(max-width: 570px){
					font-size: 13px;
				}
				@media(max-width: 500px){
					font-size: 16px; 
				}
				&:hover,
				&:active{
					text-decoration:none;
					color: @mbsDarkBlue;
				}
			}//a
		}//li
	}//ul
	.button{
		color: white;
		border-color: white;
		display:block;
		text-align: center;
		&:hover,
		&:active{
			background-color: white;
			color: @mbsBlue;
		}
		&:first-child{
			margin-top: 32px;
		}
		@media(max-width:920px){
			font-size: 12px;
			padding-right: 0;
			padding-left: 0;
		}
	}
	.social-media{
		margin-top: 31px;
		@media(max-width: 722px){
			float: right;
			margin-top: 20px;
			width: 50%;
			text-align: center;
			br{
				display: none;
			}
		}
		@media(max-width: 415px){
			text-align: inherit;
			width: inherit;
			br{
				display:block;
			}
		} 
		svg,
		object{
			width: 60px;
			height: 45px;
			@media(max-width:940px){
				width: 40px;
				height: 40px;
			}
			&:hover{
				path{
					fill: @mbsDarkBlue; 
				}
				rect{
					fill: white;
				}
			}
		}
		a{
			display: inline-block;
			margin-bottom: 12px;
			@media(max-width:940px){
				margin-bottom: 0;
			}
		}
	}
	.copyright{
		color: white;
		font-size: 14px;
		-webkit-font-smoothing: antialiased; 
		margin-top: 10px;
		margin-bottom: 10px;
		@media(max-width: 1169px){
		//	margin-top: -21px; 
		}
		@media(max-width: 840px){
		//	margin-top: -45px; 
		}
		@media(max-width: 820px){
			//margin-top: -30px; 
		}
		@media(max-width: 722px){
			float: left;
			//margin-top: 20px;
		}
		span{
			float: left;
			display: block;
			&:last-child{
				float: right;
				@media(max-width:985px){
					float: left;
					clear: both;
				}
			}
			@media(max-width:985px){
				float: left;
				clear: both;
			}
		}
		a{
			color: white;
			&:hover,
			&:active{
				color: @mbsDarkBlue;
				text-decoration: none;
			}
		}
	}
	.sp ul{
		margin-bottom: 30px;
		br{
			display:none;
		}
	}
}

.page-7 img{
	@media(max-width: 850px){
		margin-left:-20%;
	}
	@media(max-width: 722px){
		margin-top:-10%;
		margin-left: 0;
	}
}


//Mobile Drawer -------------------
#content_container {
  background-color: white;
  &.active{
    backface-visibility:hidden;
    -webkit-backface-visibility:hidden;
    -moz-backface-visibility:hidden;
    -ms-backface-visibility:hidden;
    position: relative;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 2;
    overflow-y: visible;
    -webkit-overflow-scrolling: touch;
    height: 100%;
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);

  }
  &.open-left{
    position: absolute;
    border-left: 1px solid gray;
    overflow-x: hidden;
    height: 100%;
    -webkit-overflow-scrolling: touch;
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  &.overflowx{
    overflow-x: hidden;
  }
}

.snap-drawers{
  display: none;
  background: white;
  position: absolute;
  overflow: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: auto;
  height: 100%;
  .snap-drawer{
    background: @mbsBlue;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 200px;
    overflow: auto;
    height: 100%;
    -webkit-overflow-scrolling: touch;
    -webkit-transition: width 0.3s ease;
       -moz-transition: width 0.3s ease;
        -ms-transition: width 0.3s ease;
         -o-transition: width 0.3s ease;
            transition: width 0.3s ease;
    ul{
      padding: 0;
      margin: 0;
      list-style-type: none;
      a.toggle-language{
	      font-weight: normal;
      }
      li{
        &.active,
        &:hover{
          background-color: @mbsDarkBlue;
          a{
            color: white;
          }
          ul li a{
            background-color: @mbsLightBlue;
            color: white;
            &:hover,
            &:active{
              color: @mbsDarkBlue;
              //background-color: @gray-lighter;
            }
          }
          ul li.active a{
            color: @mbsDarkBlue;
          }
        }
        ul{
          li{
            a{
              color: white;
              font-weight: normal;
              font-size: 12px;
              padding-left: 30px;
              line-height: 16px;
            }
            &.active a{
              background-color: @mbsLightBlue;
              color: @mbsDarkBlue;
            }
          }
        }
        a{
          color: white;
          font-weight: bold;
          display: block;
          padding: 10px 15px;        
          border-bottom: 1px solid white;
          font-family: @font-family-sans-serif;
          &:hover,
          &:active,
          &:focus{
            //background-color: @gray-lighter;
            color: white;
            text-decoration: none;
          }
        }//a
      }//li
    }//ul
    &.snap-drawer-left{
      left: 0;
      z-index: 2;
      //border-right: 1px solid @gray-light;
    }
  }//snap_drawer
}//snap_drawers

// Placeholder styles

/*
::-webkit-input-placeholder {
    color:    #393939;
    font-size: 16px;
    letter-spacing: 1px;
}
:-moz-placeholder {
    color:    #393939;
    opacity:  1;
    font-size: 16px;
    letter-spacing: 1px;
}
::-moz-placeholder {
    color:    #393939;
    opacity:  1;
    font-size: 16px;
    letter-spacing: 1px;
}
:-ms-input-placeholder {
    color:    #393939;
    font-size: 16px;
    letter-spacing: 1px;
}
*/

.eye-control {
	
}