<footer>
				<div class="container-fluid">
					<div class="bg-beige"></div>
					<div class="container"> 
						<div class="row">
							<div class="col-md-4 col-ms-4">
								<a href="[[~1]]" class="logo text-hide" title="[[++location_name]]">[[++location_name]]</a>
								<div class="contact">
							<!--
		<a href="[[++location_url]]" target="_blank" title="View on Google Maps">[[++location_street]]<br />
									[[++location_city]], [[+location_state]] [[++location_zip]]</a><br />
-->
									<span class="en">
									General Information: [[++location_phone]]
									</span>
									<span class="sp">
									Información General: [[++location_phone]]
									</span>
								  
								</div><!--/.contact-->
							</div><!--/.col-->
							<div class="col-md-4 col-ms-4 col-sm-6 col-xs-6 columnize">
								<span class="en">
									[[Wayfinder? &startId=`0` &level=`1` &limit=`8`]] 
								</span>
								<span class="sp">
									[[Wayfinder? &startId=`0` &level=`1` &limit=`8` &contexts=`sp`]] 
								</span>
							</div><!--/.col-->
							<div class="col-md-2 col-ms-2 col-sm-6 col-xs-6">
								<span class="en">
									<a href="[[++footer_button_url_1]]" class="button">[[++footer_button_text_1]]</a><br />
								</span>
								<span class="sp">
									<a href="[[++footer_button_url_1]]" class="button">Paquete de Prensa</a><br />
								</span>
								<a href="[[++footer_button_url_2]]" class="button">[[++footer_button_text_2]]</a>
							</div><!--/.col-->
							<div class="col-md-2 col-ms-2 social-media">
								
								<a href="[[++social_facebook]]" target="_blank" title="Facebook">
									<svg></svg>
									<object class="svg-object" type="image/svg+xml" data="/assets/img/elements/footer_fb_icon.svg"></object>
								</a>
								
								<a href="[[++social_twitter]]" target="_blank" title="Twitter">
									<svg></svg>
									<object class="svg-object" type="image/svg+xml" data="/assets/img/elements/footer_twitter_icon.svg"></object>
								</a>
								
								<br />
								
								<a href="[[++social_youtube]]" target="_blank" title="YouTube">
									<svg></svg>
									<object class="svg-object" type="image/svg+xml" data="/assets/img/elements/footer_ytube_icon.svg"></object>
								</a>
								
								<a href="[[++social_flickr]]" target="_blank" title="Flickr">
									<svg></svg>
									<object class="svg-object" type="image/svg+xml" data="/assets/img/elements/footer_flkr_icon.svg"></object>
								</a>
								
							</div><!--/.col-->
						</div><!--/.row-->
						<div class="row">
							<div class="copyright col-md-8 col-ms-8 col-md-offset-4 col-ms-offset-4">
								<span>&copy; [[current_year]] [[++location_name]]. All rights reserved. <a href="[[~327]]">Privacy policy</a>.</span>
								<span>Site by <a href="http://www.keystoneresources.com/" target="_blank">Keystone Resources</a></span>
							</div><!--/.col-->
						</div><!--/.row-->
					</div><!--/.container-->
					<div class="bg-blue"></div> 
				</div><!--/.container-fluid-->
			</footer>
			
		</div><!--/#content_container-->
    [[$scripts]]
	</body>
</html>