			<div class="snap-drawers">
			  <div class="snap-drawer snap-drawer-right">
			      <div class="drawer_container">
			         <nav>
				         <ul>
					         <li><a href="#" class="toggle-language">Ver en Español</a></li>
				         </ul>
				         <ul>
					         <span class="en">
					          [[Wayfinder? &startId=`0` &level=`2` &hideSubMenus=`1` &contexts=`web`]]
									  </span>
										<span class="sp">
										[[Wayfinder? &startId=`0` &level=`2` &hideSubMenus=`1` &contexts=`sp`]]
										</span> 
				         </ul>
				       </nav> 
			      </div><!--/.drawer_container -->
			  </div><!--/.snap-drawer left --> 
			</div><!--/.snap-drawers --> 

			<div id="content_container"> 
				
			<header>
				
				<div class="container-fluid hidden-sm hidden-xs">
					<div class="bg-beige"></div>
					<div class="container"> 
						<div class="row">
							<div class="col-md-4 col-ms-4">
								<a href="[[~1]]" class="logo text-hide" title="[[++site_name]]">[[++site_name]]</a>
							</div><!--/.col-->
							<div class="col-md-8 col-ms-8"></div><!--/.col--> 
						</div><!--/.row-->
					</div><!--/.container-->
				</div><!--/.container-fluid-->
			
				<div class="container hidden-sm hidden-xs">
					<div class="navigation">
						<span class="en">
						[[Wayfinder? &startId=`0` &level=`1` &excludeDocs=`29` &rowTpl=`tpl-wf-row` &contexts=`web`]]
						</span>
						<span class="sp">
						[[Wayfinder? &startId=`0` &level=`1` &excludeDocs=`1001` &rowTpl=`tpl-wf-row` &contexts=`sp`]] 
						</span>
					</div>
					<!-- <a href="#" class="toggle-language hidden">Ver en Español</a> -->
					<a href="#" class="toggle-language">Ver en Español</a>
	
				</div><!--/.container-->
				
				<div class="container visible-sm visible-xs">
					<div class="row">
						<div class="col-xs-12">
							<a href="[[~1]]" class="logo text-hide" title="[[++site_name]]">[[++site_name]]</a>
							<div class="snap-trigger-right">
							<!--
	<svg></svg> 
								<object class="svg-object" type="image/svg+xml" data="/assets/img/elements/header_mobile_nav.svg"></object>
-->
							</div><!--/.trigger-->
						</div><!--/.col-->
					</div><!--/.row-->
				</div><!--/.container-->
				
			</header>