<div id="sidebar" class="col-md-4 col-ms-4">
	[[*parent:is=`2`:then=`
		<h1>[[*longtitle:default=`[[#2.pagetitle]]`]]</h1>
		[[Wayfinder? &startId=`2` &level=`2` &rowTpl=`tpl-wf-row`]]
	`:else=`
		<h1>[[*longtitle:default=`[[*pagetitle]]`]]</h1>
		[[Wayfinder? &startId=`[[*parent]]` &level=`2` &rowTpl=`tpl-wf-row`]]  
	`]]
</div><!--/.col-->  
 