<div id="sidebar" class="col-md-4 col-ms-4">
	[[*parent:is=`9`:then=`
		<h1>[[*pagetitle`]]</h1>
		[[Wayfinder? &startId=`2` &level=`2` &rowTpl=`tpl-wf-row` &hideSubMenus=`1`]]
	`:else=`
		<h1>[[#[[*parent]].pagetitle]]</h1>
		[[Wayfinder? &startId=`[[*parent]]` &level=`2` &rowTpl=`tpl-wf-row` &hideSubMenus=`1`]] 
	`]]
</div><!--/.col-->   
 