<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="/assets/js/vendor/jquery-1.10.2.min.js"><\/script>')</script>
<script src="/assets/js/plugins.js"></script>
<script src="/assets/js/vendor/snap.svg-min.js"></script>
[[*template:is=`5`:or:if=`[[*template]]`:is=`10`:then=`
<script src="/ammap/ammap.js" type="text/javascript"></script>
<script src="/ammap/maps/js/usa2Low.js" type="text/javascript"></script>
<script>
    AmCharts.ready(function() { 
        var map = new AmCharts.AmMap();
        map.pathToImages = "ammap/images/";
		
				[[*id:is=`4`:or=`[[*id]]`:is=`6`:then=`
					var cityArray = [
		        [[!getResourcesTag? 
		        	&parents=`[[*id]]` 
		        	&includeTVs=`profile-city,profile-state,profile-coords-lat,profile-coords-long` &processTVs=`1` 
		        	&tagKey=`profile-category` 
		        	&tpl=`tpl-pr-profile-coords` 
		        	&includeContent=`1` &limit=`1000` 
		        	&sortby=`publishedon` 
		        	&outputSeparator=`,`
		        ]]		
					];		
				`:else=`
					cityArray = [];
	        $('#project-profiles td').each(function(){
		        var searchItem = {
			        latitude: $(this).attr('data-latitude'),
			        longitude: $(this).attr('data-longitude'),
			        type: 'circle',
			        color: '#ffffff',
			        outlineAlpha: 1,
					    outlineColor: '#2b405b',
					    outlineThickness: 2,
					    title: $(this).attr('data-city'),
					    selectable: true,
					    selectedColor: "#2b405b",
					    customData: $(this).attr('data-state')
			       };
		        cityArray.push(searchItem);
	        });
				`]]

       

				var dataProvider = {
            map: "usa2Low",
            getAreasFromMap:true,  
            images: cityArray           
        }; 
        
        map.dataProvider = dataProvider;

        map.areasSettings = {
            autoZoom: true,
            selectedColor: "#2b405b",
            color: "#dcdacc",
            outlineColor: "#2b405b",
            outlineThickness: "1",
            rollOverOutlineColor:"#2b405b",
            rollOverColor: "#3f5472"
        };
         
        map.zoomControl = {
            buttonColorHover: "#3f5472",
            buttonFillColor: "#2b405b",
            buttonRollOverColor: "#3f5472"
        };
        
        map.mapObject = {
            buttonColorHover: "#3f5472",
            buttonFillColor: "#2b405b",
            buttonRollOverColor: "#3f5472",
            selectedColor: "#2b405b"
        };
        
        function profileColumns(){
	        if($('body.range-5'.length) || $('body.range-4'.length) || $('body.range-3'.length) || $('body.range-10'.length)){
		        var $children = $('#project-profiles td:visible');
				    for(var i = 0, l = $children.length; i < l; i += 3) {
				      $children.slice(i, i+3).wrapAll('<tr></tr>');
				    }
	        }
        }
        
        
        map.addListener("clickMapObject", function (event){
	        var clickedCity = event.mapObject.title;
	        var clickedState = event.mapObject.id;
	        var clickedCitysState = event.mapObject.customData;
	        $('#project-profiles td').hide();
	        if(clickedState == null){
		        $('#project-profiles td[data-city="'+clickedCity+'"]').show();
	        }else{
		        clickedState = clickedState.substring(3);
		        $('#project-profiles td[data-state="'+clickedState+'"]').show(); 
	        }
	        $('tr > td').unwrap();
	        profileColumns();
        });
        
        map.addListener("homeButtonClicked", function (event){
	        $('#project-profiles td').show();
	        $('tr > td').unwrap();
	        profileColumns();
        });

        map.write("mapdiv");     
    });
      
</script>
`]]
<script src="/assets/js/main.js"></script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-20552887-1', 'auto');
  ga('send', 'pageview');

</script>