<div id="sidebar" class="col-md-4 col-ms-4">
	<h1>[[*longtitle:default=`[[*pagetitle]]`]]</h1>
	<ul>
		<li><a href="#">Company Profile</a></li>
		<li class="active"><a href="#">Our Team</a></li>
		<ul>
			<li class="active"><a href="#">All</a></li>
			<li><a href="#">Leadership</a></li>
			<li><a href="#">Board of Directors</a></li>
			<li><a href="#">Community Development Services</a></li>
		</ul>
		<li><a href="#">MBS and Goldman Sachs</a></li>
	</ul>
</div><!--/.col-->