<td data-city="[[+tv.profile-city]]" data-state="[[+tv.profile-state]]">
	
	[[+tv.profile-deactivate:is=``:then=`
	
		[[+tv.profile-url:is=``:then=`
		<a href="[[~[[+id]]]]" title="View [[+pagetitle]]">
		`:else=`
		<a href="[[+tv.profile-url]]" class="external-link" target="_blank" title="Visit Website">
		`]]
			<div class="icon-eye">
				<img class="eye-control" src="/assets/img/elements/mprofiles_eye_icon.png">
				<!-- <svg></svg>
				<object class="svg-object" type="image/svg+xml" data="/assets/img/elements/mprofiles_eye_icon.svg"></object> -->
			</div>
			<img src="[[+tv.profile-thumb]]" alt="[[+pagetitle]] Image" />
			<h2>
				<strong>[[+pagetitle]]</strong><br />
				[[+tv.profile-city]], [[+tv.profile-state]] 
			</h2>
		</a>
	`:else=`
		<a class="no-link" title="[[+pagetitle]]">
			<img src="[[+tv.profile-thumb]]" alt="[[+pagetitle]] Image" />
			<h2> 
				<strong>[[+pagetitle]]</strong><br />
				[[+tv.profile-city]], [[+tv.profile-state]] 
			</h2>
		</a>
	`]]
</td>