<li><a href="[[+url]]" class="[[+cls]]" title="[[+item:urlencode]]">
	[[+item:is=`Senior (55)`:then=`Senior (55+)`]]
	[[+item:is=`Senior (62)`:then=`Senior (62+)`]]
	[[+item:is=`4 Bedrooms`:then=`4+ Bedrooms`]]
	[[+item:isnt=`Senior (55)`:and:isnt=`Senior (62)`:and:isnt=`4 Bedrooms`:then=`[[+item]]`]]
</a></li>