<section class="block-section alt-[[+_alt]] block-[[+idx]]">
	<div class="container">
		<div class="row">
			<div class="row-same-height">
				[[+blockImage:is=``:then=`
					[[+blockContent]]
				`:else=`
					<div class="col-md-6 col-ms-6 col-xs-height col-top image">
						<img src="[[+blockImage]]" /> 
					</div><!--/.col-->
					<div class="col-md-6 col-ms-6 col-xs-height col-top desc">
						[[+blockContent]]
						[[+blockButtonLink:isnt=``:then=`
							<a href="[[+blockButtonLink]]" class="button">[[+blockButtonText]]</a>  
						`]]
					</div><!--/.col-->
				`]]
			</div><!--/.row-same-height-->
		</div><!--/.row-->
	</div><!--/.container-->
</section> 