<td data-category="[[+tv.team-division]]" data-weight="[[+menuindex]]"> 
	<a href="[[~[[+id]]]]" title="[[+pagetitle]]">
		<img src="[[+tv.team-image]]" alt="[[+pagetitle]]" />
		<h2>
			<strong>[[+pagetitle]]</strong><br />
			[[+tv.team-title]]
		</h2>
	</a>
</td> 