

<td data-latitude="[[+profile-coords-lat]]" data-longitude="[[+profile-coords-long]]" data-city="[[+profile-city]]" data-state="[[+profile-state]]">
	[[+profile-deactivate:is=``:then=`
		[[+profile-url:is=``:then=`
			<a href="[[~[[+id]]]]" title="View [[+pagetitle]]">
		`:else=`
			<a href="[[+profile-url]]" target="_blank" class="external-link" title="Visit Website">
		`]]
		<div class="icon-eye">
				<svg></svg>
				<object class="svg-object" type="image/svg+xml" data="/assets/img/elements/mprofiles_eye_icon.svg"></object>
			</div>
			<img src="[[+profile-thumb]]" alt="[[+pagetitle]] Image" />
			<h2>
				<strong>[[+pagetitle]]</strong><br />
				[[+profile-city]], [[+profile-state]] 
			</h2> 
		</a>
	`:else=`
		<a class="no-link" title="[[+pagetitle]]">
			<img src="[[+profile-thumb]]" alt="[[+pagetitle]] Image" />
			<h2>
				<strong>[[+pagetitle]]</strong><br />
				[[+profile-city]], [[+profile-state]] 
			</h2> 
		</a>
	`]] 
	
	
	
</td> 