<form class="sisea-search-form search" action="[[~[[+landing:default=`[[*id]]`]]]]" method="[[+method:default=`get`]]">
  <fieldset>
    <input type="text" name="[[+searchIndex]]" id="[[+searchIndex]]" />
    <input type="hidden" name="id" value="[[+landing:default=[[*id]]]]" /> 
    <input type="submit" value="" />
  </fieldset>
</form>