[[+introtext:is=``:then=`
<p>[[+content:striptags:ellipsis=`200`]]</p>
`:else=`
<p><strong>[[+introtext]]</strong></p>
<p>[[+content:striptags:ellipsis=`200`]]</p>
`]]
<span class="en">
<a href="[[~[[+id]]]]" class="button">Read More</a> 
</span>
<span class="sp">
<a href="[[~[[+id]]]]" class="button">Más</a> 
</span> 