<td>
	<div class="block">
		<img src="[[+tv.whatwedo-thumb]]" title="[[+pagetitle]]" />
		<h2>[[+pagetitle]]</h2>
		<div class="overlay">
			<p>[[+introtext]]</p> 
			<span class="en">
				<a href="[[~[[+id]]]]" class="button">Read More</a> 
			</span>
			<span class="sp">
				<a href="[[~[[+id]]]]" class="button">Más</a> 
			</span>
		</div><!--/.overlay-->
	</div>
</td>