<article>
	<h1>[[+pagetitle]]</h1>
	<h4>[[+publishedon:strtotime:date=`%B %e, %Y`]]  |  <strong>McCormack Baron Salazar</strong></h4>
	<p>[[+introtext:default=`[[+content:striptags:ellipsis=`200`]]`]]</p>
	<a href="[[~[[+id]]]]" class="button">Read More</a>  
</article>