[[$head]]
	[[$header]]
			
			<section id="banner">
					<div class="container"> 
						<div class="row">
							<div class="col-xs-12">
								<img src="[[*banner-image]]" />
							</div><!--/.col-->
						</div><!--/.row-->
					</div><!--/.container-->
			</section>
			
			<div class="container">
				<div class="row">
					
					<div id="sidebar" class="navigation col-md-4 col-ms-4">
						<span class="en">
							<h1><a href="[[~[[*id]]]]">[[*longtitle:default=`[[*pagetitle]]`]]</a></h1>
							[[Wayfinder? &startId=`[[*id]]` &level=`2` &rowTpl=`tpl-wf-row`]]	
						</span>
						<span class="sp">
							<h1><a href="[[~[[*id]]]]">[[#[[BabelTranslation? &contextKey=`sp`]].pagetitle]]</a></h1>
							[[Wayfinder? &startId=`[[BabelTranslation? &contextKey=`sp`]]` &level=`1` &rowTpl=`tpl-wf-row` &contexts=`sp` &startIdContext=`sp`]]
						</span>
													
					</div><!--/.col-->    
 
					
					<div id="what-we-do" class="col-md-8 col-ms-8">
						
						<span class="en">
							<table>
							[[pdoResources?
					 			&parents=`[[*id]]`
					 			&tpl=`tpl-pr-whatwedo`
					 			&includeTVs=`whatwedo-thumb`
					 			&prepareTVs=`1`
					 			&processTVs=`1`
					 			&includeContent=`1`
					 			&limit=`0` 
					 	  ]]
							</table>
						</span>
						<span class="sp">
							<table>
								[[!getResources?
						 			&parents=`[[BabelTranslation? &contextKey=`sp`]]`
						 			&tpl=`tpl-pr-whatwedo`
						 			&includeTVs=`whatwedo-thumb`
						 			&processTVs=`1`
						 			&includeContent=`1`
						 			&limit=`1000` 
						 			&context=`sp` 
						 			&sortby=`menuindex`
						 			&sortdir=`ASC`
						 	  ]]
								</table>
						</span>
														
					</div><!--/.col-->
					
				</div><!--/.row-->
			</div><!--/.container-->

			
							
			[[$footer]]