[[$head]]
	[[$header]]
			
			<section id="banner">
					<div class="container"> 
						<div class="row">
							<div class="col-xs-12">
								[[*banner-image:is=``:then=`
									<img src="[[#[[UltimateParent?]].tv.banner-image]]" alt="[[*pagetitle]] Banner Image" />
								`:else=`
									<img src="[[*banner-image]]" alt="[[*pagetitle]] Banner Image" />
								`]]
							</div><!--/.col-->
						</div><!--/.row-->
					</div><!--/.container-->
			</section> 
			
			<div class="container">
				<div class="row">
					
					<div id="sidebar" class="navigation col-md-4 col-ms-4">
						
						<span class="en">
							[[*parent:is=`0`:then=`
								<h1><a href="[[~[[*id]]]]">[[*longtitle:default=`[[*pagetitle]]`]]</a></h1>
								[[Wayfinder? &startId=`[[*id]]` &level=`2` &hideSubMenus=`1` &rowTpl=`tpl-wf-row`]]
							`:else=`
								<h1><a href="[[~[[UltimateParent?]]]]">[[#[[UltimateParent?]].pagetitle]]</a></h1> 
								[[Wayfinder? &startId=`[[UltimateParent?]]` &level=`1` &rowTpl=`tpl-wf-row` &hideSubMenus=`1`]]
							`]]
						</span>
						<span class="sp">
							[[*parent:is=`0`:then=`
								<h1><a href="[[~[[*id]]]]">[[#[[BabelTranslation? &contextKey=`sp`]].pagetitle]]</a></h1>
								[[Wayfinder? &startId=`[[BabelTranslation? &contextKey=`sp`]]` &level=`2` &rowTpl=`tpl-wf-row` &contexts=`sp` &startIdContext=`sp`]]
							`:else=`
								<h1><a href="[[~[[UltimateParent?]]]]">[[#[[BabelTranslation? &contextKey=`sp` &resourceId=`[[UltimateParent?]]`]].pagetitle]]</a></h1> 
								[[Wayfinder? &startId=`[[BabelTranslation? &contextKey=`sp` &resourceId=`[[UltimateParent?]]`]]` &level=`1` &rowTpl=`tpl-wf-row` &contexts=`sp` &startIdContext=`sp` ]]
								[[Wayfinder? &startId=`[[UltimateParent?]]` &level=`1` &rowTpl=`tpl-wf-row` &hideSubMenus=`1` &rowIdPrefix=`link_`]] 
				`]]	
						
						</span>
						
						<ul id="team-search" class="project-toolbar">
							<li>
								<span>Search</span> 
								[[!SimpleSearchForm? &landing=`1073` &tpl=`tpl-ss-search-form`]] 
							</li>
						</ul> 
						
						<span class="sp">				
							<ul>		
								<ul class="team-navigation"> 
									[[*id:is=`1073`:then=`
										[[!toLinks? &items=`[[#9.tv.team-division]]` &target=`4` &outputDelim=`` &tagKey=`team-division` &tpl=`tpl-gr-team-list-item`]] 
									`:else=`
									[[!toLinks? &items=`[[*team-division]]` &target=`4` &outputDelim=`` &tagKey=`team-division` &tpl=`tpl-gr-team-list-item`]]
									
									`]]
								</ul>
							</ul>
						</span> 
						
						<span class="en">
							<ul>						
								<ul class="team-navigation"> 
									[[*id:is=`1073`:then=`
										[[!toLinks? &items=`[[#9.tv.team-division]]` &target=`4` &outputDelim=`` &tagKey=`team-division` &tpl=`tpl-gr-team-list-item`]] 
									`:else=`
									[[!toLinks? &items=`[[*team-division]]` &target=`4` &outputDelim=`` &tagKey=`team-division` &tpl=`tpl-gr-team-list-item`]]
									
									`]]
								</ul>
							</ul>
						</span> 
					
					</div><!--/.col-->
					
					<div id="team-landing" class="col-md-8 col-ms-8">
						<span class="en">[[*content]]</span>
						<span class="sp">[[#[[BabelTranslation? &contextKey=`sp`]].content]]</span>
						<table>
						[[!pdoResources?
				 			&parents=`[[*id]]` 
				 			&tpl=`tpl-pr-team`
				 			&fastMode=`1`  
				 			&includeTVs=`team-title,team-image,team-division,team-lastname`
				 			&prepareTVs=`1` 
				 			&processTVs=`1`
				 			&includeContent=`1`
				 			&limit=`0`
				 			&where=`{"template:=":11}`
				 			&sortby=`{"team-lastname":"ASC"}`
				 	  ]]
				 	  [[*id:is=`1073`:then=`
				 	  	[[!SimpleSearch? &ids=`9` &tpl=`tpl-ss-team` &includeTVs=`1` &processTVs=`1` &perPage=`500` &includeTVList=`team-title,team-image,team-division,team-lastname` &minChars=`2`]]
				 	  `]]
						</table>
										
					</div><!--/.col-->
					
				</div><!--/.row-->
			</div><!--/.container-->

			
							
			[[$footer]]