[[$head]]
	[[$header]]
			
			
			<section id="banner">
					<div class="container"> 
						<div class="row">
							<div class="col-xs-12">
								<img src="[[*banner-image]]" />
							</div><!--/.col-->
						</div><!--/.row-->
					</div><!--/.container-->
			</section>
			
			<div class="container">
				<div class="row">
					
					
					[[Articles? &container=`144`]]
					<div id="sidebar" class="categories col-md-4 col-ms-4">
						<h1><a href="[[~[[*id]]]]">[[*longtitle:default=`[[*pagetitle]]`]]</a></h1>
						<ul class="news-toolbar">
							<li><span>Search</span> 
								[[!SimpleSearchForm? &landing=`1027` &tpl=`tpl-ss-search-form`]] 
							</li>
							<li class="active title">Archives <span class="arrow closed"></span></li>
							<li><a href="[[~144]]" class="all">View All</a></li>
							[[+archives]]
							<li><a href="[[~401]]" title="news-archives">&lt; [[current_year:subtract=`5`]]</a></li>
						</ul>
					</div><!--/.col--> 
					
					<div id="news-landing" class="col-md-8 col-ms-8">
						
						[[*content]]
						
						[[*id:isnt=`144`:and:if=`[[*id]]`:isnt=`1027`:then=`
							[[!getResources?
								  &parents=`144`
								  &tpl=`tpl-gr-blog-archive-item`
								  &showHidden=`1`
								  &limit=`100`
								  &where=`[{"publishedon:<=":"[[five_years_ago]]"}]`
								  &includeContent=`1`
								]]
						`:else=`
							[[*id:is=`1027`:then=`
								[[!SimpleSearch? &ids=`144` &tpl=`tpl-ss-news` &includeTVs=`1` &processTVs=`1` &perPage=`500`  &minChars=`2`]] 
							`]]
						`]]
						
						
						
					</div><!--/.col-->
					
				</div><!--/.row-->
			</div><!--/.container-->

			
							
			[[$footer]]