[[$head]]
	[[$header]]
			<section id="banner">
					<div class="container"> 
						<div class="row">
							<div class="col-xs-12">
								<img src="[[*banner-image]]" />  
							</div><!--/.col-->
						</div><!--/.row-->
					</div><!--/.container-->
			</section>
			<div class="container">
				<div class="row">
					
					<div id="sidebar" class="categories col-md-4 col-ms-4">
						<span class="en">
							<h1><a href="[[~[[*id]]]]">[[*longtitle:default=`[[*pagetitle]]`]]</a></h1>
						</span>
						<span class="sp">
							<h1><a href="[[~[[*id]]]]">[[#[[BabelTranslation? &contextKey=`sp`]].pagetitle]]</a></h1> 
						</span> 		
						<ul class="project-toolbar">
							<li>
								<span>Search</span> 
								[[!SimpleSearchForm? &landing=`402` &tpl=`tpl-ss-search-form`]] 
							</li>
							<li class="active title">Categories<span class="arrow closed"></span></li>
							<li><a href="[[~6]]" class="all">View All</a></li> 
							[[*id:is=`6`:then=`
							[[!toLinks? &items=`[[*profile-category-2]]` &target=`6` &outputDelim=`` &tagKey=`profile-category-2` &tpl=`tpl-gr-category-list-item`]]
						`:else=`
							[[!toLinks? &items=`
									[[getResources? 
										&parents=`-1` 
										&resources=`6`
									  &tpl=`@INLINE [[+tv.profile-category-2]]`
									  &includeTVs=`1`
									  &processTVs=`1`
									]]` &target=`6` &outputDelim=`` &tagKey=`profile-category-2` &tpl=`tpl-gr-category-list-item`]] 
						`]]
						</ul>
						<p class="note">* Denotes a McCormack Baron Salazar development.</p>			
					</div><!--/.col-->
					<div id="project-profiles" class="col-md-8 col-ms-8">	
						<div id="mapdiv" class="map hidden-sm hidden-xs"></div>
						<table>
							[[*id:is=`6`:then=`
								[[!getResourcesTag? &parents=`6` &includeTVs=`profile-city,profile-state,profile-thumb` &processTVs=`1` &tagKey=`profile-category-2` &tpl=`tpl-pr-profile` &includeContent=`1` &limit=`1000` &sortby=`pagetitle` &sortdir=`ASC`]]			
							`:else=`
								[[!SimpleSearch? &ids=`6` &tpl=`tpl-ss-profile` &includeTVs=`1` &processTVs=`1` &perPage=`500` &includeTVList=`profile-city,profile-state` &minChars=`2`]]
							`]] 
						</table>
					</div><!--/.col-->
				</div><!--/.row-->
			</div><!--/.container-->
			[[$footer]]