[[$head]]
	[[$header]]
			
			<section id="banner">
					<div class="container"> 
						<div class="row">
							<div class="col-xs-12">
								<img src="[[#[[UltimateParent?]].tv.banner-image]]" alt="News Banner Image" />
							</div><!--/.col-->
						</div><!--/.row-->
					</div><!--/.container-->
			</section>
			
			<div class="container">
				<div class="row">
					
					<div id="sidebar" class="categories col-md-4 col-ms-4">
						<h1><a href="[[~144]]">News</a></h1>
						<ul class="news-toolbar">
							<li><span>Search</span> 
								[[!SimpleSearchForm? &landing=`1027` &tpl=`tpl-ss-search-form`]] 
							</li>
							<li class="active title">Archives <span class="arrow closed"></span></li>
							<li><a href="[[~144]]" class="all">View All</a></li>
							[[+archives]]
							<li><a href="[[~401]]" title="news-archives">&lt; [[current_year:subtract=`5`]]</a></li>

						</ul>
					</div><!--/.col--> 
					 
					<div id="news-detail" class="col-md-8 col-ms-8">
						<a href="[[~9]]" onclick="window.history.back()" class="button">Back</a>
						<h1>[[*pagetitle]]</h1>
						<h4>[[*publishedon:strtotime:date=`%B %e, %Y`]]  |  <strong>McCormack Baron Salazar</strong>
						</h4>
						[[*content]]
						[[*articlestags:isnt=``:then=`
							<h4>Tags: [[*articlestags]]</h4>
						`]] 
					</div><!--/.col-->
					
				</div><!--/.row-->
			</div><!--/.container-->

			
							
			[[$footer]]