[[$head]]
	[[$header]]
			
			<section id="banner">
					<div class="container"> 
						<div class="row">
							<div class="col-xs-12">
								<img src="[[*banner-image]]" />
							</div><!--/.col-->
						</div><!--/.row-->
					</div><!--/.container-->
			</section>
			
			<div class="container">
				<div class="row">
					
					<div id="sidebar" class="categories col-md-4 col-ms-4">
						<h1><a href="[[~[[*id]]]]">[[*longtitle:default=`[[*pagetitle]]`]]</a></h1>
						<ul class="news-toolbar">
							<li><span>Search</span> 
								[[!SimpleSearchForm? &landing=`144` &tpl=`tpl-ss-search-form`]] 
							</li>
							<li><a href="[[~144]]" class="all">View All</a></li>
							<li class="active title">Archives</li>
							[[+archives]]
							<!-- <li><a href="[[-~401]]">&lt; [[-current_year:subtract=`5`]]</a></li>  -->
						</ul>
					</div><!--/.col--> 
					
					<div id="news-landing" class="col-md-8 col-ms-8">
						
						
						[[*id:is=`401`:then=`
							
							[[!getResources?
								&parents=`3`
								&tpl=`@INLINE test`
								&includeContent=`1`
	
							]]
							
						`:else=`
							[[*content]]
						`]]
						
					</div><!--/.col-->
					
				</div><!--/.row-->
			</div><!--/.container-->

			
							
			[[$footer]]