[[$head]]
	[[$header]]
		<!--
		The commented section below makes it so that if you enter an address in the find a home detail page then clicking on the page from Find a Home redirects it to the website
		[[*profile-url:isnt=``:then=`
			[[redirectToTV]]
		`]] --> 
			
			<section id="banner">
					<div class="container"> 
						<div class="row">
							<div class="col-xs-12">
								[[*banner-image:is=``:then=`
									<img src="[[#[[UltimateParent?]].tv.banner-image]]" alt="[[*pagetitle]] Banner Image" />
								`:else=`
									<img src="[[*banner-image]]" alt="[[*pagetitle]] Banner Image" />
								`]]
							</div><!--/.col--> 
						</div><!--/.row-->
					</div><!--/.container-->
			</section>
			
			<div class="container">
				<div class="row">
					
					<div id="sidebar" class="categories col-md-4 col-ms-4">
						<span class="en">
							<h1><a href="[[~[[UltimateParent?]]]]">[[#[[UltimateParent?]].pagetitle]]</a></h1> 
						</span>
						<span class="sp">
							<h1><a href="[[~[[UltimateParent?]]]]">[[#[[BabelTranslation? &contextKey=`sp` &resourceId=`[[UltimateParent?]]`]].pagetitle]]</a></h1>
						</span> 
						<ul class="project-toolbar">
							<li>
								<span>Search</span> 
								[[!SimpleSearchForm? &landing=`402` &tpl=`tpl-ss-search-form`]] 
							</li>	
							<li class="active title">Categories <span class="arrow closed"></span></li>
							<li><a href="[[~6]]" class="all">View All</a></li>
							
							[[*id:is=`6`:then=`
							[[!toLinks? &items=`[[*profile-category-2]]` &target=`6` &outputDelim=`` &tagKey=`profile-category-2` &tpl=`tpl-gr-category-list-item`]]
						`:else=`
							[[!toLinks? &items=`
									[[getResources? 
										&parents=`-1` 
										&resources=`6`
									  &tpl=`@INLINE [[+tv.profile-category-2]]`
									  &includeTVs=`1`
									  &processTVs=`1`
									]]` &target=`6` &outputDelim=`` &tagKey=`profile-category-2` &tpl=`tpl-gr-category-list-item`]] 
						`]]
						</ul>
						<p class="note">* denotes a McCormack Baron Salazar development.</p>
					</div><!--/.col-->   
 
					
					<div id="profile-detail" class="col-md-8 col-ms-8">
						
						<a onclick="window.history.go(-1); return false;" class="button">Back</a>
						<h1>[[*pagetitle]]</h1>
						<h2>[[*profile-street]]<br />
							[[*profile-city]], [[*profile-state]] [[*profile-zip]]<br />
							<a href="tel:[[*profile-phone]]">[[*profile-phone]]</a><br />
							<a href="[[*profile-web-url]]" target="_blank">For leasing information, please click here.</a>
						</h2>
						<div id="profile-gallery">
							[[getImageList? 
								&tvname=`MIGX-profile-gallery`
								&tpl=`@CODE:<img src="[[+galleryImage]]" alt="[[+galleryTitle]]" />`
							]]
							<div class="arrows">
								<a href="#" class="prev" title="Previous"></a>
								<a href="#" class="next" title="Next"></a>
							</div>
						</div>
						[[*content]]				
					</div><!--/.col-->
					
				</div><!--/.row-->
			</div><!--/.container-->

			
							
			[[$footer]]