[[$head]]
	[[$header]]
			
			<section id="banner">
					<div class="container"> 
						<div class="row">
							<div class="col-xs-12">
								<img src="[[#[[UltimateParent?]].tv.banner-image]]" alt="[[#[[UltimateParent?]].pagetitle]] Banner Image" />
							</div><!--/.col--> 
						</div><!--/.row-->
					</div><!--/.container-->
			</section>
			
			<div class="container">
				<div class="row">
					
					<div id="sidebar" class="categories col-md-4 col-ms-4">
						<span class="en">
							<h1><a href="[[~[[UltimateParent?]]]]">[[#[[UltimateParent?]].pagetitle]]</a></h1> 
						</span>
						<span class="sp">
							<h1><a href="[[~[[UltimateParent?]]]]">[[#[[BabelTranslation? &contextKey=`sp` &resourceId=`[[UltimateParent?]]`]].pagetitle]]</a></h1>
						</span> 
						
						<ul class="project-toolbar">
							<li>
								<span>Search</span> 
								[[!SimpleSearchForm? &landing=`143` &tpl=`tpl-ss-search-form`]] 
							</li>
							<li class="active title">Categories <span class="arrow closed"></span></li>
							<li><a href="[[~4]]" class="all">View All</a></li>
							
							[[*id:is=`4`:then=`
							[[!toLinks? &items=`[[*profile-category]]` &target=`4` &outputDelim=`` &tagKey=`profile-category` &tpl=`tpl-gr-category-list-item`]]
						`:else=`
							[[!toLinks? &items=`
									[[getResources? 
										&parents=`-1` 
										&resources=`4`
									  &tpl=`@INLINE [[+tv.profile-category]]`
									  &includeTVs=`1`
									  &processTVs=`1`
									]]` &target=`4` &outputDelim=`` &tagKey=`profile-category` &tpl=`tpl-gr-category-list-item`]] 
						`]]
						</ul>
					</div><!--/.col-->   
 
					
					<div id="profile-detail" class="col-md-8 col-ms-8">
						
						<a onclick="window.history.go(-1); return false;" class="button">Back</a>
						<h1>[[*pagetitle]]</h1>
						<h2>
								[[*profile-city]], [[*profile-state]]
						</h2>
						<div id="profile-gallery">
							[[getImageList? 
								&tvname=`MIGX-profile-gallery`
								&tpl=`@CODE:<img src="[[+galleryImage]]" alt="[[+galleryTitle]]" />`
							]]
							<div class="arrows">
								<a href="#" class="prev" title="Previous"></a>
								<a href="#" class="next" title="Next"></a>
							</div>
						</div>
						[[*content]]				
					</div><!--/.col-->
					
				</div><!--/.row-->
			</div><!--/.container-->

			
							
			[[$footer]]