[[$head]]
	[[$header]]
			
			<section id="banner">
					<div class="container"> 
						<div class="row">
							<div class="col-xs-12">
								<img src="[[#[[UltimateParent?]].tv.banner-image]]" alt="[[#[[UltimateParent?]].pagetitle]] Banner Image" />
							</div><!--/.col--> 
						</div><!--/.row-->
					</div><!--/.container-->
			</section>
			
			<div class="container">
				<div class="row">
					
					<div id="sidebar" class="navigation col-md-4 col-ms-4">

							<span class="en">
								<h1><a href="[[~2]]">[[#2.pagetitle]]</a></h1> 
								[[Wayfinder? &startId=`2` &level=`1` &rowTpl=`tpl-wf-row` &hideSubMenus=`1`]]
							</span>
							<span class="sp">
								<h1><a href="[[~2]]">[[#[[BabelTranslation? &contextKey=`sp` &resourceId=`2`]].pagetitle]]</a></h1> 
							  [[Wayfinder? &startId=`[[BabelTranslation? &contextKey=`sp` &resourceId=`[[UltimateParent?]]`]]` &level=`1` &rowTpl=`tpl-wf-row` &contexts=`sp` &startIdContext=`sp` ]]
								[[Wayfinder? &startId=`[[UltimateParent?]]` &level=`1` &rowTpl=`tpl-wf-row` &hideSubMenus=`1` &rowIdPrefix=`link_`]] 

							</span> 
							
							
							<ul id="team-search" class="project-toolbar">
							<li>
								<span>Search</span> 
								[[!SimpleSearchForm? &landing=`1073` &tpl=`tpl-ss-search-form`]] 
							</li>
						</ul>
							
						<span class="en">
						<ul>
							<ul class="team-navigation"> 
							[[!toLinks? &items=`[[#9.tv.team-division]]` &target=`4` &outputDelim=`` &tagKey=`team-division` &tpl=`tpl-gr-team-list-item`]] 
							</ul>
						</ul>
						</span> 
						
						<span class="sp">
						<ul>
							<ul class="team-navigation"> 
							[[!toLinks? &items=`[[#9.tv.team-division]]` &target=`4` &outputDelim=`` &tagKey=`team-division` &tpl=`tpl-gr-team-list-item`]] 
							</ul>
						</ul>
						</span>

					
					</div><!--/.col-->
					
					<div id="team-detail" class="col-md-8 col-ms-8">
						
						<a href="[[~9]]" onclick="window.history.back()" class="button">Back</a>
						<h1>[[*pagetitle]]</h1>
						<h2>[[*team-title]]</h2>
						<div class="image-container">
							<div class="image-container-inner">
								<img src="[[*team-image]]" alt="[[*pagetitle]]" />
							</div>
						</div><!--/.image-container-->
						[[*content]]				
					</div><!--/.col-->
					
				</div><!--/.row-->
			</div><!--/.container-->

			
							
			[[$footer]]