[[$head]]
[[$header]]

<span class="en">
[[getImageList? 
	&tvname=`MIGX-career-blocks`
	&tpl=`tpl-migx-blocks`
]]
</span>	
<span class="sp">
[[getResources?
  &parents=`-1`
  &resources=`1007`
  &tpl=`tpl-gr-sp-career-blocks`
  &includeTVs=`MIGX-career-blocks`
  &processTVs=`1`
]]
</span>	

		
[[$footer]]