[[$head]]
	[[$header]]
			
			<section id="banner">
					<div class="container"> 
						<div class="row">
							<div class="col-xs-12">
								[[*banner-image:is=``:then=`
									<img src="[[#[[UltimateParent?]].tv.banner-image]]" alt="[[*pagetitle]] Banner Image" />
								`:else=`
									<img src="[[*banner-image]]" alt="[[*pagetitle]] Banner Image" />
								`]]
							</div><!--/.col-->
						</div><!--/.row-->
					</div><!--/.container-->
			</section>
			
			<div id="general" class="container">
				<div class="row"> 
					<div id="sidebar" class="navigation col-md-4 col-ms-4">
						<h1><a href="[[~[[*id]]]]">[[*longtitle:default=`[[*pagetitle]]`]]</a></h1>
					</div><!--/.col-->   

					
					<div class="col-md-8 col-ms-8"> 
						<span class="en">
						[[*content]]	
						</span>
						<span class="sp">[[getResources? 
								&parents=`-1` 
								&resources=`[[BabelTranslation? &contextKey=`sp`]]`
							  &tpl=`tpl-gr_spanish_content`
							  &includeContent=`1`
							]]</span>				
					</div><!--/.col-->
					
				</div><!--/.row-->
				
			</div><!--/.container-->

			
							
			[[$footer]]