[[$head]]
[[$header]]

<span class="en">
[[getImageList? 
	&tvname=`MIGX-home-blocks`
	&tpl=`tpl-migx-home-blocks`
]]
</span>	
<span class="sp">
[[getResources?
  &parents=`-1`
  &resources=`[[BabelTranslation? &contextKey=`sp`]]`
  &tpl=`tpl-gr-sp-home-blocks`
  &includeTVs=`MIGX-home-blocks`
  &processTVs=`1`
]]
</span>	
			 
[[$footer]]