[[$head]]
	[[$header]]
			
			<section id="banner">
					<div class="container"> 
						<div class="row">
							<div class="col-xs-12">
								[[*banner-image:is=``:then=`
									<img src="[[#[[UltimateParent?]].tv.banner-image]]" alt="[[*pagetitle]] Banner Image" />
								`:else=`
									<img src="[[*banner-image]]" alt="[[*pagetitle]] Banner Image" />
								`]]
							</div><!--/.col-->
						</div><!--/.row-->
					</div><!--/.container-->
			</section>
			
			<div class="container">
				<div class="row"> 
		
					<div id="sidebar" class="navigation col-md-4 col-ms-4">
					
						<span class="en">
							[[*parent:is=`0`:then=`
								<h1><a href="[[~[[*id]]]]">[[*longtitle:default=`[[*pagetitle]]`]]</a></h1>
								[[Wayfinder? &startId=`[[*id]]` &level=`2` &hideSubMenus=`1` &rowTpl=`tpl-wf-row` ]]
							`:else=`
								<h1><a href="[[~[[UltimateParent?]]]]">[[#[[UltimateParent?]].pagetitle]]</a></h1> 
								[[Wayfinder? &startId=`[[UltimateParent?]]` &level=`2` &rowTpl=`tpl-wf-row` &hideSubMenus=`1`]]
						`]]
						</span>
						<span class="sp">
							[[*parent:is=`0`:then=`
								<h1><a href="[[~[[*id]]]]">[[#[[BabelTranslation? &contextKey=`sp`]].pagetitle]]</a></h1>
								[[Wayfinder? &startId=`[[BabelTranslation? &contextKey=`sp`]]` &level=`1` &rowTpl=`tpl-wf-row` &contexts=`sp` &startIdContext=`sp`]]
							`:else=`
								<h1><a href="[[~[[UltimateParent?]]]]">[[#[[BabelTranslation? &contextKey=`sp` &resourceId=`[[UltimateParent?]]`]].pagetitle]]</a></h1> 
								[[Wayfinder? &startId=`[[BabelTranslation? &contextKey=`sp` &resourceId=`[[UltimateParent?]]`]]` &level=`2` &rowTpl=`tpl-wf-row` &contexts=`sp` &startIdContext=`sp` ]]
				`]]	
							
							
						</span>
						
					
					</div><!--/.col-->   
					
					<div class="col-md-8 col-ms-8">
						<span class="en">
						[[*content]]	
						</span>
						<span class="sp">
							[[getResources? 
								&parents=`-1` 
								&resources=`[[BabelTranslation? &contextKey=`sp`]]`
							  &tpl=`@INLINE [[+content]]`
							  &includeContent=`1`
							]]
						</span>
						
										
					</div><!--/.col-->
					
				</div><!--/.row-->
			</div><!--/.container-->

			
							
			[[$footer]]